<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>아이디 찾기</title>
  <link rel="stylesheet" href="/css/members/find-id.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/js/members/find-id.js" defer></script>
</head>
<body>
  <div id="form-container">
    <h1>아이디 찾기</h1>

    <br><br>

    <form action="/members/find-id" method="post">

      <div class="message-container">회원정보에 등록한 이메일 주소를 입력해주세요.</div>

      <br>

      <!-- 이메일 -->
      <div class="form-row" id="form-row-email">
        <label for="email"></label>
        <input type="email" required="required" id="email" name="email" placeholder="이메일">
        <button type="button" class="btn" id="email-send-code-btn">인증받기</button>
      </div>

      <div class="message-container">
        <div class="error-text" id="email-error-text"></div>
      </div>

      <br>

      <!-- 이메일 인증 -->
      <div class="form-row" id="form-email-verify">
        <label for="email-verify-code"></label>
        <input type="text" required="required" id="email-verify-code" placeholder="인증번호 6자리 입력">
        <button type="submit" class="btn" id="email-verify-code-btn">확인</button>
        <span id="timer"></span>
      </div>

      <div class="message-container">
        <div class="error-text" id="email-verify-code-error-text"></div>
        <div class="success-text" id="email-verify-code-success-text"></div>
      </div>

      <br>

      <div id="btn-container">
        <button type="reset" class="btn" id="find-id-cancel-btn">취소</button>
        <button type="submit" class="btn" id="find-id-btn">아이디 찾기</button>
      </div>

      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
  </div>
</body>
</html>