<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>비밀번호 재설정</title>
  <link rel="stylesheet" href="/css/members/reset-password.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/js/members/reset-password.js" defer></script>
</head>
<body>
  <div id="form-container">
    <h1>비밀번호 재설정</h1>

    <br><br>

    <form action="/members/reset-password" method="post" th:object="${resetPasswordForm}">
      <div class="message-container">비밀번호를 변경해 주세요.</div>

      <br>

      <div class="info-container">
        <div class="row-container" th:text="'아이디 : ' + ${resetPasswordForm.loginId}"></div>
      </div>

      <br>

      <!-- 새 비밀번호 -->
      <div class="form-row" id="form-row-password">
        <label for="new-password"></label>
        <input type="password" required="required" id="new-password" placeholder="새 비밀번호" th:field="*{password}">
      </div>

      <!-- 새 비밀번호 확인 -->
      <div class="form-row" id="form-row-password-check">
        <label for="new-password-check"></label>
        <input type="password" required="required" id="new-password-check" placeholder="새 비밀번호 확인">
      </div>

      <br>

      <div class="btn-container">
        <button type="reset" class="btn" id="reset-password-cancel-btn">취소</button>
        <button type="submit" class="btn" id="reset-password-btn">비밀번호 재설정</button>
      </div>

      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
  </div>
</body>
</html>