<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- jQuery CDN 추가 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>레시피 목록</title>
    <link rel="stylesheet" href="/css/Recipe.css">
</head>
<body>
    <header class="header">
        <div class="top-bar">
            <nav class="nav">
                <a href="#">레시피</a>
                <a href="#">냉장고파먹기</a>
                <a href="#">요리팁</a>
                <a href="#">식재료</a>
            </nav>
        </div>
    </header>

    <!-- append할 card -->
    <script type="text/template" id="recipe-list-template">
        <div class="col" style="padding: 1%;">
            <div class="card recipe-card">
                <img class="card-img" alt="...">
                <span class="card-title"></span>
                <div class="member-info">
                    <img class="card-profile" alt="...">
                    <span class="card-loginId"></span>
                </div>
                <div class="review-info">
                    <div class="card-review">
                        ⭐<span class="review-avg"></span>
                        (<span class="review-count"></span>)
                    </div>
                    <img class="img-heart" src="/img/heart_empty.png" alt="">
                </div>
            </div>
        </div>
    </script>

    <main class="main-content">
        <section class="category-section">
            <button data-category="ALL">전체</button>
            <button data-category="KOREAN">한식</button>
            <button data-category="WESTERN">양식</button>
            <button data-category="JAPANESE">일식</button>
            <button data-category="CHINESE">중식</button>
            <button data-category="DESSERT">디저트</button>
            <button data-category="OTHER">기타</button>
        </section>
        <br>
        <section class="sort-section">
            <button data-sort="newest">최신순</button>
            <button data-sort="views">조회순</button>
            <button data-sort="reviews">후기많은순</button>
        </section>
        <br>

        <section class="recipe-list" id="recipe-list">
            <div class="row row-cols-5">
                <!-- 카드가 동적으로 이 자리에 append됨 -->
            </div>
        </section>

        <section class="page-bar">


        </section>
    </main>

    <!-- js 파일 연결 -->
    <script src="/js/recipe.js"></script>
</body>
</html>