#container {
    margin: 10%;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

#profile-container {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    display: block;
    float: left;
}

#profile {
    position: relative;
    display: inline-block;
    margin: 20px;
}

#profile img {
    border-radius: 50%;
    object-fit: cover
}

#edit-profile-btn {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
}

#login-id {
    text-align: center;
    display: block;
    margin-top: 0;
}

/* 프로필 편집 모달 */
#modal-background {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

#modal-container {
    display: none;
    position: fixed;
    z-index: 101;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
}

#modal-title {
    display: inline-block;
    margin-left: 20px;
}

#modal-body, #modal-footer {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center;    /* 가로축 중앙 정렬 */
    justify-content: center;/* 세로축 중앙 정렬 */
    text-align: center;
    gap: 10px;              /* 요소 간 간격 */
    padding: 20px;          /* 여백 추가 (선택사항) */
}

#modal-profile img {
    border-radius: 50%;
    object-fit: cover
}

#upload-file {
    display: none;
}

/* 요약 박스 */
#summary-container {
    border: 1px solid gray;
    display: inline-block;
    width: 1200px;
    height: 200px;
    margin-left: 50px;
}

/* 4개의 요약 div를 감싸는 wrapper */
#summary-wrapper {
    display: flex;
    align-items: flex-start;  /* 상단 정렬 */
    gap: 40px;                /* 항목 간 균일한 간격 */
    margin-top: 10px;
}

#summary-wrapper > div {
    flex: 1;          /* 모든 div 동일 폭 */
    text-align: center;
    padding: 0;       /* padding 제거로 border와 텍스트 간격 최소화 */
    position: relative;
}

/* 세로선 설정: 마지막 div에는 제거 */
#summary-wrapper > div:not(:last-child) {
    border-right: 1px solid #ccc;
}

.summary-item {
    width: 20px;
}

#star-img {
    display: inline-block;
}

#rate-avg {
    display: inline-block;
}

/* 메뉴 */
#menu-container {
    border: 1px solid black;
    width: 200px;
    height: 600px;
    display: inline-block;
}

/* 게시글 */
#post-container {
    border: 1px solid black;
    display: inline-block;
    width: 1200px;
    height: 600px;
}

#post-menu {
    list-style: none;
}

.post-menu-item {
    display: inline-block;
}

.post-menu-item:hover {
    cursor: pointer;
}

/* 활성화 */
.active {
    color: orange;
    font-weight: bold;
}

table {
    border-collapse: separate; /* 필수! */
    border-spacing: 100px 0;    /* 가로 20px, 세로 0px */
}