#form-container {
    margin: 10%;
}

h1 {
    text-align: center;
}

.form-row, .message-container, .info-container, .row-container, .btn-container {
    margin: 0 auto;
    height: 50px;
    width: 30%;

    display: flex;              /* 내부 input 정렬용 */
    justify-content: center;    /* 수평 중앙 정렬 */
    align-items: center;        /* 수직 중앙 정렬 */

    font-size: large;
}

#new-password, #new-password-check {
    width: 73%;
    height: 50%;
    font-size: large;
}

.btn {
    margin: 2%;
    font-size: large;
}

input {
    padding-left: 2%;
}