#container {
    margin: 10%;
}

/* 버튼 */
#btn-container {
    text-align: right;
    margin-bottom: 20px;
}

button {
    font-size: medium;
    border: 2px solid orange;
    border-radius: 4px;
    background-color: #f9f0e6;
}

/* 정렬 */
#sort-container {
    margin-bottom: 15px;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

/* 요리팁 카드 */
#card-container {
    display: grid;
    grid-template-columns: repeat(5, 280px); /* 한 줄에 5개 */
    gap: 20px; /* 카드 사이 간격 일정 */
    justify-content: space-between; /* 컨테이너 좌우에 균등 분배 */
}

.card {
    width: 280px;
    height: 360px;
    display: inline-block;
}

.card-image {
    width: 280px;
    height: 280px;
    margin-bottom: 3%;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    margin-bottom: 3%;
}

.card-writer {
    width: 90%;
    display: inline-block;

}

.profile-image {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 2px;
}

.login-id {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;       /* 한 줄로 유지 */
    overflow: hidden;          /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis;   /* 말줄임표 표시 */
    max-width: 100%;           /* 부모 width 안에서 제한 */
}

.card-like {
    width: 25px;
    height: 25px;
    display: inline-block;

}

.card-bottom {
    display: flex;                   /* 가로 배치 */
    justify-content: space-between;  /* 좌우 끝으로 배치 */
    align-items: center;             /* 세로 중앙 정렬 */
    width: 100%;
    box-sizing: border-box;
}