<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/member/join.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/js/member/join.js" defer></script>
</head>
<body>


    <div id="form-container">

        <h1>회원가입</h1>

        <br><br>

        <form action="/member/join" method="post" th:object="${memberRequestDto}">
            <!-- 아이디 -->
            <div class="form-row" id="form-row-login-id">
                <label for="login-id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </label>
                <input type="text" required="required" id="login-id" placeholder="아이디" th:field="*{loginId}">
            </div>

            <!-- 비밀번호 -->
            <div class="form-row" id="form-row-password">
                <label for="password">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </label>
                <input type="password" required="required" id="password" placeholder="비밀번호" th:field="*{password}">
            </div>

            <!-- 비밀번호 확인 -->
            <div class="form-row" id="form-row-password-check">
                <label for="password-check">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </label>
                <input type="password" required="required" id="password-check" placeholder="비밀번호 확인">
            </div>

            <div class="message-container">
                <div class="error-text" id="id-error-text"></div>
                <div class="error-text" id="password-error-text"></div>
                <div class="error-text" id="password-check-error-text"></div>
            </div>

            <br>

            <!-- 이메일 -->
            <div class="form-row" id="form-row-email">
                <label for="email">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                </label>
                <input type="email" required="required" id="email" placeholder="이메일" th:field="*{email}">
                <button type="submit" class="btn" id="email-send-code-btn">인증받기</button>
            </div>

            <div class="message-container">
                <div class="error-text" id="email-error-text"></div>
            </div>

            <br>

            <!-- 이메일 인증 -->
            <div class="form-row hh" id="form-email-verify">
                <label for="email-verify-code">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                </label>
                <input type="text" required="required" id="email-verify-code" placeholder="인증번호 6자리 입력">
                <button type="submit" class="btn" id="email-verify-code-btn">확인</button>
                <span id="timer"></span>
            </div>

            <div class="message-container">
                <div class="error-text" id="email-verify-code-error-text"></div>
                <div class="success-text" id="email-verify-code-success-text"></div>
            </div>

            <br>

            <div id="btn-container">
                <button type="reset" class="btn" id="join-cancel-btn">취소</button>
                <button type="submit" class="btn" id="join-btn">회원가입</button>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>

</body>
</html>