<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <div id="form-container">
        <h1>로그인</h1>

        <br><br>

        <form action="/member/login" method="post">

            <div class="form-row">
                <label for="login-id"></label>
                <input type="text" name="login-id" id="login-id" placeholder="아이디" th:value="${loginId}">
            </div>

            <div class="form-row">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="비밀번호">
            </div>

            <div class="message-container">
                <div class="error-text" id="login-error-text" th:if="${errorMessage}" th:text="${errorMessage}"></div>
            </div>

            <div>
                <button type="submit" class="btn" id="login-btn">로그인</button>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>

    <br>

    <div>
        아이디 저장 | 아이디 찾기 | 비밀번호 찾기
    </div>

    <br>

    <div>
        <button type="button" class="btn" id="join-btn">회원가입</button>
    </div>

</body>
</html>