#form-container {
    margin: 10%;
    border: 1px solid black;
}

.error-text {
    display: none;
    color: red;
}

#form-email-verify {
    display: none;
}

#email-verify-code-success-text {
    display: none;
    color: green;
}