
.main-content {
    margin: 10%;
    padding: 3%;
    border: solid 1px black;
}

button {
    border: solid 1px gray;
    height: 30px;
}

.sort-section{
    text-align: right;
}


/* card */
.recipe-card {
    height: 100%;
    padding: 5% 7%;
    cursor: pointer;
}

.card-img {
    height: 160px;
}

.card-title {
    font-weight: bold;
}

.card-title {
    margin-top: 5%;
}

.member-info {
    display: flex;
    align-items: center;
    margin: 5% 0;
}

.member-info .card-profile {
    border: solid 1px gray;
    margin-right: 4%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.review-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-heart {
    height: 1.5em;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

