<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>요리팁</title>
    <link rel="stylesheet" href="/css/cooking-tips/list.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="" defer></script>
</head>
<body>
    <div id="container">
        <h1>요리팁 목록</h1>

        <!-- 버튼 -->
        <div id="btn-container">
            <button sec:authorize="isAuthenticated()" onclick="location.href='/cooking-tips/new'">요리팁 등록</button>
        </div>

        <!-- 정렬 -->
        <div id="sort-container">
            <a href="/cooking-tips?sort=LATEST" class="sort-content" id="sort-latest"
               th:classappend="${sort} == 'LATEST' ? ' sort-active' : ''">최신순</a>
            <a href="/cooking-tips?sort=VIEWS" class="sort-content" id="sort-views"
               th:classappend="${sort} == 'VIEWS' ? ' sort-active' : ''">조회순</a>
            <a href="/cooking-tips?sort=LIKES" class="sort-content" id="sort-likes"
               th:classappend="${sort} == 'LIKES' ? ' sort-active' : ''">좋아요순</a>
        </div>

        <div id="card-container" >
            <div class="card" th:each="c : ${cookingTips}">
                <div class="card-top">
                    <!-- 이미지 -->
                    <div class="card-image">
                        <a th:href="@{'/cooking-tips/' + ${c.id}}">
                            <img th:src="@{'/uploads/cooking-tips/'+${c.coverImage}}" alt="" width="200">
                        </a>
                    </div>
                </div>

                <div class="card-middle">
                    <!-- 제목 -->
                    <div class="card-title">
                        <a th:href="@{'/cooking-tips/' + ${c.id}}">
                            <div id="title" th:text="${c.title}" th:href="@{'/cooking-tips/' + ${c.id}}"></div>
                        </a>
                    </div>
                </div>

                <div class="card-bottom">
                    <!-- 작성자 -->
                    <div class="card-writer">
                        <div class="profile-image">
                            <img th:src="@{'/uploads/profile/'+${c.profile}}" alt="" width="25">
                        </div>
                        <div class="login-id" th:text="${c.loginId}"></div>
                    </div>

                    <!-- 좋아요 -->
                    <div class="card-like">
                        <input type="hidden" id="like-id">
                        <img src="/img/heart_empty.png" alt="" class="liked" id="not-liked-heart" width="25">
    <!--                         th:style="${isLiked} ? 'display:none;' : 'display:inline;'">-->
    <!--                    <img src="/img/heart_full.png" alt="" class="liked" id="liked-heart" width="25"-->
    <!--                         th:style="${isLiked} ? 'display:inline;' : 'display:none;'">-->
                    </div>
                </div>
            </div> <!-- end of .card -->
        </div> <!-- end of #card-container -->
    </div>
</body>
</html>