<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>요리팁</title>
    <link rel="stylesheet" href="/css/cooking-tips/list.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="" defer></script>
</head>
<body>
    <div id="container">
        <h1>요리팁 목록</h1>
        <a href="/cooking-tips/new" sec:authorize="isAuthenticated()">요리팁 등록</a>
        <div id="card-container">
            <a th:each="c : ${cookingTips}" th:href="@{'/cooking-tips/' + ${c.id}}">
                <div class="card"  >
                    <img th:src="@{'/uploads/cooking-tips/'+${c.coverImage}}" alt="" width="200">
                    <p id="title" th:text="${c.title}" th:href="@{'/cooking-tips/' + ${c.id}}"></p>
                    <img th:src="@{'/uploads/profile/'+${c.profile}}" alt="" width="25">
                    <p id="login-id" th:text="${c.loginId}"></p>
                    <img src="/img/heart_empty.png" alt="" width="25">
                </div>
            </a>
        </div>
    </div>
</body>
</html>